---
layout: ""
page_title: "Provider: ForgeRock Access Manager"
description: |-
  The ForgeRock Access Manager provider provides configuration management resources for ForgeRock Access Manager.
---

# Redshift Provider

The ForgeRock Access Manager provider provides configuration management resources for
[ForgeRock Access Manager](https://www.forgerock.com/platform/access-management).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}